version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10

  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
      time: "01:00"
    open-pull-requests-limit: 10
